/out/
/.idea/
/Peer.iml
/server/server.iml
/app/src/META-INF/
/server/src/META-INF/
/app/app.iml
/extended/back-end/node_modules/
/app/src/app/META-INF/
/friend.csv
/user.csv
/server/src/server/META-INF/
/app/src/app/META-INF/
